
@{
    ViewData["Title"] = "CadastroVaga";
}

<h1>CadastroVaga</h1>

<p>Adicionar Vagas</p>

<form action="~/Home/AuthVaga" method="post">
    <label>Placa</label>
    <input type="text" name="placa"/>
    <br />
    <label>HoraEntrada</label>
    <input type="text" name="horaEntrada"/>
    <br />
    <input type="submit" name="botao" value="Adiciona" />

</form>